* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: ZenoFont;
    src: url(../res/Fonts/MuseoSans-900.otf);
}

:root {
    --ZenoGrey: #222222;
    --CustomYellow: rgb(239, 202, 65);
    --CustomOrange: rgb(203, 86, 49);
    --cursorX: 0px;
    --cursorY: 0px;
}

body {
    background-color: var(--ZenoGrey);
    display: flex;
    height: 100vh; /* Ensure the body takes up the full viewport height */
    justify-content: center;
}

figure {
    position: relative; /* Make the figure the reference point for absolute positioning */
    padding: 0; /* Remove any padding */
    display: block; /* Set to block to ensure figure takes the image's size */
    margin: 0; /* Remove default margin */
    height: 100vh;
    overflow: hidden;
}

#zeno{
    display: block; /* Prevent any extra space below the image */
    height: 100%; /* Maintain the aspect ratio */
}

.element {
    position: absolute; /* Position relative to the figure */
}

#start_button{
    cursor: pointer;
    color: green;
}

#start{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    backdrop-filter: blur(5px);
    z-index: 1;    
}

#start a{
    font-family: ZenoFont;
    display: block;
    position: relative;
    font-size: 1em;
    top: 50%;
    padding: 10px;
    border: 2px solid var(--CustomYellow);
    color: var(--CustomYellow);
    background-color: var(--CustomOrange);
    text-align: center;
    width: 200px;
    left: calc(50% - 100px);
    transition-duration: .1s;
}

#start a:hover{
    border: 2px solid var(--CustomOrange);
    color: var(--CustomOrange);
    background-color: var(--CustomYellow);
}

#laserlight{
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 20px;
    left: 0px;
    right: 0px;
    transform: translateX(var(--cursorX)) translateY(var(--cursorY));
    pointer-events: none;
}

.slider-container {
    width: 300px;
    margin: 20px auto;
    text-align: center;
}

.slider {
    width: 100%;
}

.label {
    font-family: Arial, sans-serif;
    font-size: 16px;
}