@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

@font-face {
  font-family:"Gallient";
  src: url("fonts/Gallient.ttf") format("truetype");
}

:root{
    --main-color: rgb(30, 0, 255);
    --favorite-color: #ff31ba;
    --important-font: 'Gallient';
    --default-font: 'Geist Mono';
}

body{
    font-family: var(--default-font);
    background-color: white;
    color: var(--main-color);
}

#name {
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 20px);
    height: auto;
    margin: 0 10px 0 10px;
    box-sizing: border-box;
    padding: 1em 0;
    pointer-events: none;
}

h1{
    font-family: var(--important-font);
    font-weight: 400;
    font-size: calc(100vw/9.5);
    padding: 0px;
    margin: 0px;
    transform: translateY(50px);
    pointer-events:none;
}
h2{
    font-size: 2em;
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    font-weight: 400;
}

a{
    color: var(--main-color);
    text-decoration: none;
    font-weight: 600;
    pointer-events: all;
}

a:hover{
    text-decoration: underline;
}

.bold{
    font-weight: 900;
}

.def_button{
    font-size: 1.5em;
    padding: 5px;
    text-transform: uppercase;
    border: 2px solid var(--main-color);
        box-sizing: border-box;
}

.def_button:hover{
    background: var(--main-color);
    color: white;
}

#name_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#name_links h2 {
    flex: 1;
    text-align: left;
}

#name_links > div {
    display: flex;
    gap: 1em;
    justify-content: flex-end;
}

#assignment_list {
    position: fixed;
    top: 20px;
    left: 5px;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 90vw; /* Prevent going off screen */
}

#assignment_list li {
    break-inside: avoid;      /* Prevents items from splitting between columns */
    margin-bottom: 0px;
    cursor: pointer;
    padding: 5px;
    max-width: 340px;
    min-width: 180px;
    box-sizing: border-box;
}

#assignment_list li:hover{
    background-color: var(--main-color);
    color: white;
}

#assignment_list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    column-width: 340px;      /* Each column about this wide */
    column-gap: 30px;         /* Space between columns */
    max-height: 70vh;         /* Prevents columns from getting too tall */
    height: auto;
}

.assignment-title {
    font-weight: 700;
    font-size: 1em;
    display: block;
    text-transform: uppercase;
}

.assignment-category {
    font-size: .7em;
    display: block;
    padding-top: 2px;
}

.assignment-desc {
    font-size: .8em;
    margin-top: 0.2em;
}

.favorites{
    color: var(--favorite-color);
}

#assignment_list ul li.favorites:hover {
    background-color: var(--favorite-color) !important;
    color: white;
}